<% if user_signed_in? %> 
 <% if current_user.type == 'Organizer'%>
   <h3>Details of organizer <%= current_user.email %></h3>

   <p>Name: <%= @organizer.name %></p>
   <p>Email: <%= @organizer.email %></p>
   <p> Address: <%= @organizer.address %></p>
   <p>Phone no: <%= @organizer.phone_no%></p>


   <button><%= link_to 'Back', root_path %></button>

   <button><%= link_to 'Add Tour', new_organizer_tour_path(@organizer)%></button>

 <% elsif current_user.type =='Traveller' %>
     <div>
       <h3>Details of Organizer</h3>
       <p>First_name: <%= @organizer.name %></p>
       <p>Last name : <%= @organizer.email %></p>
       <p> Address: <%= @organizer.address %></p>
       <p>Phone no: <%= @organizer.phone_no%></p>
     </div>

    <p><%= link_to 'Chat with Organizer'%></p>
 <% end %>

<% end %>

