<h3>Booking Form</h3>
<div>
 <% if @booking.errors.any? %>
  <% @booking.errors.full_messages.each do |msg| %>
    <p> <%= msg %></p>
  <% end %>
 <% end %> 
 
</div>
<%= form_with model: [@traveller, @traveller.bookings.build] do |f| %>
  
  <%= f.hidden_field :tour_id, value: @tour.id%>

  
  <div>
    <%= f.label :traveller_name %>
    <%= f.text_field :traveller_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :number_of_participants %>
    <%= f.number_field :no_of_travellers %>
  </div>
  
  <%= f.submit "Submit Booking" %>
<% end %>







