<!-- Booking Form -->
<h3>Booking Confirmation</h3>

<div>
<p>Booking ID: <%= @booking.id %></p>
<p>Tour: <%= @booking.tour.destination_name %></p>
<p>Pickup and Dropping Point: <%= @booking.tour.pickup_and_dropping_point %></p>
<p>Pickup Date: <%= @booking.tour.pickup_date %></p>
<p>Dropping Date: <%= @booking.tour.dropping_date%></p>
<p>Traveller: <%= @booking.traveller_name %></p>
<p>Email: <%= @booking.email %></p>
<p>Number of traveller: <%= @booking.no_of_travellers %></p>
<p>Total Amount: <%= @booking.no_of_travellers * @booking.tour.amount%></p>
<div>
<button><%= link_to 'Back', root_path %></button>	

<button><%= link_to 'Pay now', new_payment_path(traveller_id: @booking.traveller.id, tour_id: @booking.tour.id) %></button>




 










