<h2>List of Tours organized by <%= current_user.email %></h2>

<table>
	<thead>
		<th>Destination Name</th>
		<th>Tour Detail</th>
		<th>Edit Tour</th>
		<th>Delete Tour</th>
	</thead>
	<tbody>
		<% @organizer.tours.each do |tour| %>
		<tr>
			<td><%= tour.destination_name %></td>
			<td><%= link_to 'Show', organizer_tour_path(id: tour.id)%></td>
			
			<td><%= link_to 'Edit', edit_organizer_tour_path(id: tour.id) %></td>
			<td><%= link_to 'Delete', [tour.organizer,tour], data: {turbo_method: :delete, turbo_confirm:'Are you sure?'}%></td>
		</tr>
		<% end %>
	</tbody>
</table>
<button><%= link_to 'Back', root_path %></button>
