<h2>Details of Tour <%= @tour.destination_name%></h2>
<p>Images of Tour:
<% @tour.images.each do |image| %>
   <%= image_tag url_for(image) %>
<% end %>
</p>
<p>Destination Name:<%= @tour.destination_name %></p>
<p>Pick up / Dropping Point: <%= @tour.pickup_and_dropping_point %></p>
<p>Pick up Date:<%= @tour.pickup_date %></p>
<p>Dropping Date: <%= @tour.dropping_date %></p>
<p>Inclusions: <%= @tour.inclusions %></p>
<p>Amount: <%= @tour.amount %></p>
<div>
   <p>Booked Hotels:
   <% @tour.hotels.each do |hotel|%>
     <%= link_to hotel.hotel_name%>,  
      <% end %>
      <button><%= link_to 'Select Hotels', hotels_path(id: @tour.id) %></button>
</p>
</div>
<button><%= link_to 'Back', organizer_tours_path %></button>

