<h2>Congratulations!!! Your Booking Confirmed...</h2>
<%= flash[:notice]%> 
<p>Your Booking id is : <%= @collaborate.id %></p>
<p>Hotel Name: <%= @collaborate.hotel.hotel_name %>
<p>No of Rooms are Booked: <%= @collaborate.no_of_rooms %></p>
<p>Room Type are: <%= @collaborate.room_type %></p>
<button><%= link_to 'Back', organizer_tour_path(@organizer, id: @tour.id)%></button>
