<h2>Congratulations!!! Your Booking Confirmed...</h2>
<%= flash[:notice]%> 
<p>Your Booking id is : <%= @collaborate.id %></p>
<p>No of Rooms are Booked: <%= @collaborate.no_of_rooms %></p>
<p>Room Type are: <%= @collaborate.room_type %></p>
<button><%= link_to 'Back', organizer_tours_path(@organizer)%></button>