<h3>Edit Hotel details</h3>
<%= form_with model: [@partner, @hotel] do |f| %>
<div class="field">
	<%= f.label :hotel_name %>
	<%= f.text_field :hotel_name %>
</div>
<div class="field">
	<%= f.label :city %>
	<%= f.text_field :city %>
</div>
<div> <%= f.submit %></div>
<% end %>